.persona {
  padding: 12px 0 36px 0;
}

.personaTopSection {
  display: flex;
  flex-direction: column;
}

.personaTopSection > img {
    width: 40%;
    object-fit: cover;
    margin-right: 24px;
}

.personaTopSection > div > h3:first-child {
  color: #d4a50b;
}

.personaTopSection > div > dl > dd {
    margin: 0 0 8px 16px;
}

@media screen and (minwidth: 750px) {
  .personaTopSection {
    flex-direction: row;
  }
  
  .personaTopSection.rightAlign {
    flex-direction: row-reverse;
  }

  .personaTopSection.rightAlign > div {
    text-align: right;
    margin-right: 24px;
  }

  .personaTopsection.rightAlign > div > h3 {
   text-align: right;
  }
} /*End media query: 750px minimum */


