.persona {
  margin: 24px 0;
}

.personaTopsection > div > h3 {
  width: 100%;
}

.personaTopSection {
  display: flex;
}

.personaTopSection > img {
    width: 40%;
    object-fit: cover;
    margin-right: 24px;
}

.personaTopSection.rightAlign {
  flex-direction: row-reverse;
}

.personaTopSection.rightAlign > div {
  text-align: right;
  margin-right: 24px;
}

.personaTopsection.rightAlign > div > h3 {
   text-align: right;
}


