* {
    margin: 0;
    padding: 0;
    font-family: omnes-pro, sans-serif;
}

/*--------- NAV STYLES -----------*/

li:hover {
    cursor: pointer;
}

#headerNav {
    display: none;
}

#headerNav > ul {
    position: fixed;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    left: 48px;
    height: 100%;
}

#headerNav > ul > li {
    height: 48px;
    font-size: 16px;
}

#mobileNav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F6F6F6;
    box-shadow: 1px 1px 11px -5px rgba(135,146,161,0.85);
    width: 150px;
    font-size: 18px;
    padding: 25px;
    height: 100%;
    display: none;
}

#mobileNav > ul {
    margin-top: 48px;
    margin-right: 25px;
    list-style-type: none;
}

#mobileNav > ul > li {
    padding: 25px 0;
}

#nav-icon4 {
    left: 16px;
    top: 16px;
    width: 30px;
    position: fixed;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: #000000;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18.5px;
  left: 8px;
}

/*---------- GENERAL STYLES ----------*/

.selected {
    font-weight: 700;
    font-style: italic;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 70%;
    margin: 24px 0;
}

h1 {
    width: 70%;
    margin-top: 60px;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

h1, h2, h3 {
    font-weight: 600;
}

h3 {
    width: 70%;
}

p, dd {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
}

p {
    margin: 8px 0;
}

dt {
    margin-top: 4px;
    font-style: italic;
}

dd {
    margin-bottom: 12px;
    width: 95%;
    margin-left: 5%;
}

.twoColumns {
    display: flex;
    flex-wrap: wrap;
}

.twoColumns > div {
    width: 100%;
    margin: 16px 0;
}

@media screen and (min-width: 750px){
    section, h1, h3 {
        width: 600px;
    }  
    
    .twoColumns > div {
        width: 40%;
        margin: 16px 5%;
    }
}

@media screen and (min-width: 1000px){
    #headerNav {
        display: block;
    }
    
    #mobileNav, #nav-icon4 {
        display: none;
    }
    
    h1 {
        margin-top: 48px;
    }
}
